form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  background-color: #fdffff;
  padding: 15px;
  border-radius: 6px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  margin-top: 20px;
  box-shadow: 2px 2px 10px 2px rgba(0, 0, 0, 0.556);
}

#input {
  margin: 0px;
  color: #0f486b;
}

h2 {
  color: #0f486b;
}

#button {
  margin-bottom: 10px;
  margin-top: 30px;
  width: 300px;
  height: 45px;
}
