#menu {
  background-color: #031963;
  box-shadow: 2px 2px 10px 2px rgba(0, 0, 0, 0.556);
}

#icon,
#menu-item {
  color: #fdffff;
}

#menu button:hover #icon {
  color: #f4f9e9;
}

#menu button:hover {
  background-color: #0f486b;
  color: #f4f9e9;
}
