#add-tech {
  background-color: #fdffff;
  border: none;
  width: 320px;
  padding: 20px 5px;
}

#button-tech {
  background-color: #0f486b;
  width: 100px;
  margin: 15px;
}

#button-cancel {
  background-color: #f15025;
  width: 100px;
  margin: 15px;
}
