.techs {
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  background-color: #fdffff;
  width: 98%;
  border-radius: 6px;
  padding: 10px;
  box-shadow: 2px 2px 10px 2px rgba(0, 0, 0, 0.556);
}

#techs-add {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.tech {
  flex-wrap: wrap;
  width: 300px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: rgb(41, 41, 41);
  font-weight: lighter;
  font-size: 15px;
  border: 2px solid #0f486b;
  border-radius: 4px;
  padding: 0px 20px 0px 20px;
  margin: 8px;
  box-shadow: 2px 2px 10px 2px rgba(0, 0, 0, 0.404);
  text-transform: uppercase;
}

.tech span {
  margin-right: 5px;
  font-weight: 400;
  font-size: 15px;
  color: #0f486b;
}

.tech button {
  padding: 0px;
  margin: 0px 2px;
}

#add {
  background-color: #0f486b;
  color: #fdffff;
  width: 250px;
  float: inline-end;
  bottom: 5%;
  text-align: center;
  margin-top: 20px;
}
