img,
figure,
div,
p,
h3,
h4 {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin: 5px 0px;
  width: 100vw;
}
.data-user,
.bio {
  background-color: #fdffff;
  border-radius: 6px;
  padding: 5px;
  width: 90vw;
  box-shadow: 2px 2px 10px 2px rgba(0, 0, 0, 0.556);
}
.profile-img img {
  max-width: 100px;
  max-height: 100px;
  border-radius: 6px;
  padding: 1px;
  border: 2px solid #fdffff;
  box-shadow: 2px 2px 10px 2px rgba(0, 0, 0, 0.556);
  margin-bottom: 5px;
}

.info-user {
  text-align: justify;
}

.profile-container h3,
h4 {
  color: #0f486b;
  font-size: 17px;
  font-weight: 400;
  margin-bottom: 10px;
  padding: 5px;
  border-radius: 10px;
  background-color: #fdffff;
  box-shadow: 2px 2px 10px 2px rgba(0, 0, 0, 0.24);
}

.info-user p,
.bio p {
  color: rgb(27, 27, 27);
  font-weight: lighter;
  font-size: 15px;
  margin: 5px;
}

.info-user span {
  font-weight: 400;
  font-size: 15px;
  color: #0f486b;
}

.techs {
  width: 90vw;
}
